[submodule "third_party/openthread"]
	path = third_party/openthread
	url = git@github.com:bukepo/openthread.git
[submodule "third_party/lwip"]
	path = third_party/lwip/repo
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "third_party/libjwt"]
	path = third_party/libjwt/repo
	url = git@github.com:gjc13/libjwt.git
[submodule "third_party/jansson"]
	path = third_party/jansson/repo
	url = https://github.com/akheron/jansson.git
